@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFF9F0;
  --foreground: #33261D;
}

/* dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Style the autocomplete dropdown */
.pac-container {
    @apply bg-white rounded-lg shadow-lg border border-gray-200;
}

/* Style each item in the dropdown */
.pac-item {
    @apply p-2;
}

/* Hover effect */
.pac-item:hover {
    @apply bg-earth-yellow-light;
}