@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFF9F0;
  --foreground: #33261D;
}

/* dark theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Style the autocomplete dropdown */
.pac-container {
    @apply bg-white rounded-lg shadow-lg border border-gray-200;
}

/* Style each item in the dropdown */
.pac-item {
    @apply p-2;
}

/* Hover effect */
.pac-item:hover {
    @apply bg-earth-yellow-light;
}

.marker-label {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marker-label.complete {
  background-color: #60993E;
  color: white;
}

.marker-label.voting {
  background-color: #E0A458;
  color: white;
}